h2{
  color:#00FF00;
  font-size:auto;
  font-family: Courier New;
  text-align:left;
  position: relative;
  left:10px;
}
h3{
  color:white;
  font-family: Courier New;
  text-align:left;
  position: relative;
  left:10px;
}
h5{
  color:white;
  font-size:20px;
  font-family: Courier New;
}

#map {
  width: 200px;
  height: 200px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}
#img01{
  weight:100px;
  height:100px;
  float:left;
}
#subtitle{
  color:white;
  text-align:center;
  font-style:italic;
}
.header{
  padding:15px;
}


.row {
    content: "";
    display: table;
    clear: both;
    width:100%;
}


.bottom{
  color:white;
}
table{
  padding: 20px;
  text-align:center;
  width:100%
}
a{
  text-decoration:none;
}
a:link{
  color:white;
}
a:visited{
  color:yellow
}
a:hover{
  color:Red;
  text-decoration:underline;
}
#demo{
  color:white;
}


.searchbar{
  font-size:9px;
}
* {
    box-sizing: border-box;
}


.topnav {
    overflow: hidden;
    background-color: #4169E1;
    width: 370px;
}


.topnav a {
    float: left;
    display: block;
    color: #00FFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 10px;
}

.topnav a:hover {
    background-color: yellow;
    color: red;
}
